@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form action="/WhatsApp/IniciarConversa" method="post">
    Número do Cliente: <input type="text" name="numeroCliente"><br>
    Mensagem: <textarea name="mensagem"></textarea><br>
    <input type="submit" value="Iniciar Conversa">
</form>
